<p>WELCOME HOME</p>


<% if current_user %>
  <p>Signed in as <%= current_user.try(:email) %></p>
  <p>Phone: <%= current_user.formatted_phone %></p>
  <p>
    <%= link_to 'Edit Account', edit_user_registration_path %>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete  %>
  </p>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>
